<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MVH_08Entities" connectionString="metadata=res://*/Data.PBL3.csdl|res://*/Data.PBL3.ssdl|res://*/Data.PBL3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.95.197.121,9696;initial catalog=MVH_08;persist security info=True;user id=DACNPM;password=khoa19@itf;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>